a {
  color: #FFC;
}
a:link {
  color: #FFC;
}
a:active {
  color: #FFC;
}
a:hover {
  color: #FFC;
}
a:visited {
  color: #FFC;
}

body {
  background-color: #282B2E;
  color: #CCC;
}

code {
  color: #CFF;
  background-color: #111;
  padding: 0 0.2em;
}

h2 {
  background-color: #303437;
  border-bottom: 1px solid #1d1f21;
  font-size: 8px;
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 0;
  text-align: center;
}

img.center {
  display: block;
  margin: 0.2em auto;
}

a img {
  border-style: none;
  text-decoration: none;
}
